// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
html{
  a, a:hover, a:focus { text-decoration: none; color: inherit; }
  .lv-clear-both{
    clear: both;
  }
  .lv-float-left{
    float:left !important;
  }
  @media only screen and (max-width: 683px) {
    .el-submenu__title,.el-header {
      padding: 0;
    }
  }
  .el-avatar > img{
    height: 100%;
    width: 100%;
  }
}
