// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
html,body{
  //格式化样式
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  a, a:hover, a:focus { text-decoration: none; color: inherit; }
  .lv-clear-both{
    clear: both;
  }

  //login module
  .el-dialog{
    max-width: 400px;
    width: auto;
  }
  .el-dialog__body{
    padding: 5px 15px 20px 15px;
  }
  @media screen and (max-width: 450px) {
    .el-dialog{
      margin-top: 6vh!important;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  //login module end


  //blog css

  .blog{
    .art-item {
      margin-bottom: 30px;
      position: relative;
    }
    .art-item .star {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .tag{
      margin-right: 5px;
    }
    img.tag {
      width: 16px;
      height: 16px;
    }

    .clear-title {
      padding-left: 5px;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .art-title {
      cursor: pointer;
    }

    .art-title:hover {
      color: #409EFF;
    }

    .art-time {
      margin: 6px 0;
    }

    .art-body {
      display: flex;
      padding: 10px 0;
    }

    .art-category {
      float: left;
      padding-left: 5px;
    }

    .side-img {
      height: 150px;
      width: 270px;
      overflow: hidden;
      margin-right: 10px;
    }

    .art-banner {
      width: 100%;
      height: 100%;
      transition: all 0.6s;
    }

    .art-banner:hover {
      transform: scale(1.4);
    }

    .side-abstract {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: #aaa;
    }
    .side-abstract .art-abstract{
      padding: 10px 0;
    }
    .art-more {
      display: flex;
      justify-content: space-between;
      flex: 1 auto;
      align-items: flex-end;
    }
    .art-more-button-sm{
      display: none;
    }
    .art-time-small {
      margin: 0;
      display: none;
    }
    .art-more .view {
      color: #aaa;
    }

    h5 {
      font-size: 18px;
    }

    .pagination {
      background-color: #F9F9F9;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .infinite-list-wrapper p {
      text-align: center;
    }

    .blog {
      padding-top: 20px;
    }

    .lv-blog-side {
      padding-bottom: 10px;
      box-shadow: 12px 0 12px 0 rgba(0,0,0,.1);
    }

    .lv-margin-top {
      margin-top: 20px;
    }

    .image-slot {
      height: 150px;
    }

    .el-image {
      display: block;
    }

    @media only screen and (max-width: 683px) {
      .lv-blog-side {
        width: 100%;
      }
      .lv-blog-middle {
        width: 100%;
      }
      .lv-tag-side {
        width: 100%;
      }
      .lv-row-bg {
        display: block;
      }
      .art-body {
        display: block;
        padding: 10px 0 0 0;
      }
      .side-img {
        height: auto;
        width: 100%;
        overflow: hidden;
        margin-right: 10px;
      }
      .clear-title {
        margin-bottom: 0;
      }
      #side {
        max-height: none !important;
        margin-top: 20px;
      }
      .art-category {
        clear: both;
        padding: 5px 0 0 0;
      }
      .art-item {
        font-size: 14px;
      }
      .art-abstract{
        padding: 5px 0;
      }
      .art-info{
        padding-top: 5px;
      }
      .art-time{
        display: none!important;
      }
      .art-time-small{
        display: block!important;
      }
      .art-more-button{
        display: none!important;
      }
      .art-more-button-sm{
        color: orange;
        display:block!important;
      }
      .art-more-simple{
        display: none!important;
      }
      .art-time-simple {
        display: none!important;
      }
      .phone-tab{
        display: block!important;
      }
    }
    .phone-tab{
        display: none;
    }
  }




  .lv-float-left{
    float:left !important;
  }
  .lv-avatar{
    width: 40px; height: 40px;border:3px solid #409eff;border-radius:30px
  }
  .lv-card-shadow {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  }
  .el-backtop{
    visibility: hidden;
  }
  .lv-border-left{
    border-left: 3px solid #4280C9
  }
  .el-divider--horizontal{
      margin: 12px 0 ;
  }
  .lv-break{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
  }
  .lv-blog-popover{
    max-width: 150px;
  }
  .lv-container{
    padding: 0 10px;
  }
  .el-message-box{
    width: 350px;
  }
  .button-new-tag{
    height: 30px;
  }
  .el-input--small .el-input__inner{
    height: 30px;
  }
  .button-new-tag{
    line-height: 0;
  }
  .el-input__inner{
    height: 30px;
  }
  .button-new-tag{
      line-height:0;
  }
  a:focus {outline:none; -moz-outline:none}
  @media only screen and (max-width: 683px) {
    .el-submenu__title,.el-header {
      padding: 0;
    }
  }
  .el-avatar > img{
    height: 100%;
    width: 100%;
  }
}
