html a,
html a:hover,
html a:focus {
  text-decoration: none;
  color: inherit;
}

html .lv-clear-both {
  clear: both;
}

html .lv-float-left {
  float: left !important;
}

@media only screen and (max-width: 683px) {
  html .el-submenu__title,
  html .el-header {
    padding: 0;
  }
}

